.button {
    margin-right:5px;
 }

.button__content {
    width: 360px;
    padding: 40px 0;
    border-top: $border-depth solid;
    border-bottom: $border-depth solid;
    border-color: 	$border-color;
}