.drawArea {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    float: left;
    cursor: crosshair;
}

.drawArea__container {
    width: 310px;
    height: 310px;
    padding: 5px 0;
}

.drawArea__content-container {
    margin: 0 auto;
    max-width:80rem;
    text-align: center
}

.drawPage__container {
    padding: 15px 0;
}

.drawing {
    width: 100%;
    height: 100%;

}

.path {
    fill: none;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}