.form__content {
    width: 360px;
    padding: 30px 0;
    border-top: 0.1px solid;
    border-bottom:0.1px solid;
    border-color: 	#DCDCDC;
}

.form__content__top {
    width: 360px;
    padding: 30px 0;
    border-top: 0.1px solid;
    border-color: 	#DCDCDC;
}

.form__input {
    padding: 10px 0;
}

.form__buttons {
    padding: 10px 0;
}